---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import LogoGif from '../images/logo_peek.gif';
import '../styles/global.css';

const { 
  entry,
  pageTitle = 'DONDEv', 
  description = 'Portfolio of many things and a blog to comment on it',
  cover = '/open-graph.webp' 
} = Astro.props;
---

<html lang='en'>
  <head>
    <!--Global Metadata -->
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />


    <!-- Primary Meta Tags -->
    <title>{pageTitle}</title>
    <meta name='description' content={description} />

   <!-- Open Graph -->
   <meta name="twitter:card" content="summary_large_image">
   <meta property="og:url" content={`https://donalcasey.io/${entry?.slug || ''}`}>
   <meta property="og:type" content="article">
   <meta property="og:title" content={entry?.title || pageTitle}>
   <meta property="og:description" content={entry?.description || pageTitle}>
   <meta property="og:image" content={`https://donalcasey.io/${cover.src || cover}`}>

    <!-- Sitemap -->
    <link rel='sitemap' href='/sitemap-index.xml' />

    <title>{pageTitle}</title>

    <ViewTransitions />


  </head>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FP1SMR8QTP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FP1SMR8QTP');
</script>

  <body class='mx-auto prose prose-neutral px-4 prose-img:rounded dark:prose-invert dark:bg-neutral-900 lg:max-w-screen-xl'>
        <div class='grid lg:grid-cols-2 grid-cols-1 items-center'>
            <a href="/" alt-text="DON-DEV"><img style="margin: 0 15px ;" src={LogoGif.src} /></a>
            <div>
                <h2 class='text-center my-2 lg:my-7' >Site of an expat, creative, developer...</h2>
                <h4 class='text-center'>Frequent user of the catchphrase "we can make that at home!"</h4>
            </div>
        </div>
        <Header />
        <div class="mx-5">
            <slot />
        </div>
    <Footer />
  </body>
</html>
